@import "tailwindcss";
@import "../rpg-awesome.min.css";

@variant theme1 (&:where(.theme1, .theme1 *));
@variant theme2 (&:where(.theme2, .theme2 *));
@variant theme3 (&:where(.theme3, .theme3 *));

.frame {
    grid-template-rows: min-content auto min-content;
}

.cinzel-font {
     font-family: "Cinzel", serif;
     font-optical-sizing: auto;
     font-weight: 500;
     font-style: normal;
 }

